<a href="https://colab.research.google.com/github/chauhanms/Bootcamp-Project/blob/main/Megha_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create a list from the elements of a range from 1200 to 2000 with steps of 130, using list comprehension.(Hint - Using Range function)

In [ ]:
for i in range(1200,2000,130):
  print(i)

1200
1330
1460
1590
1720
1850
1980

# Use list comprehension to contruct a new list but add 6 to each item.(Hint - add (int) 6 value for each value of list )

In [ ]:
lst = [1,2,3,4,5,6]
lst_2 = [x+6 for x in lst]
print(lst_2)

[7, 8, 9, 10, 11, 12]

# Create list comprehension using enumerate and add it's index value respectively, List index should be start from 1 not 0

In [ ]:
s = [ 2,7,9,43,23,57]
counter_list = list(enumerate(s, 1))
print(counter_list)

[(1, 2), (2, 7), (3, 9), (4, 43), (5, 23), (6, 57)]

# Using zip() function and list() function, create a merged list of tuples from the two lists given.

In [ ]:
l1 = [1,7,9,23,56,89,13]
l2 = [78,90,23,14,67,24,8]
print(list(zip(l1,l2)))

[(1, 78), (7, 90), (9, 23), (23, 14), (56, 67), (89, 24), (13, 8)]

# Make a list of square of every element of list1 in list comprehension Using Lambda inside map

> Indented block

In [ ]:
list_1 = [4,7,9,12,15,20]
list_2 = map(lambda x:x**2,list_1)
print(list(list_2))

[16, 49, 81, 144, 225, 400]

# Create function which asks your name and print Hello and your Name and asks again your age and print it again.

In [ ]:
NAME=str(input("enter the name: "))
print("hello",NAME)

enter the name: megha
hello megha

In [ ]:
AGE=str(input("enter your age: "))
print("YOUR AGE IS",AGE,".")

enter your age: 20
YOUR AGE IS 20 .

In [ ]:
index=['sofa','chair','bed','cupboard','table','tv','fridge','AC','Cooler','Water cooler']

## Create a dataframe of 10 customers data having their names, address, age, expenditure, products_purchased. Index labels should have the products name that is being purchased.

In [ ]:

data = {'names':['Megha','Aditya','Pragati','poonam','riya','rita','soonam','sam','george','harsh'],
      'address':['sakchi','adityapur','kadma','bistupur','baridih','gamharia','bistupur','kadma','sidgoda','sonari'],
      'age':[20,21,24,40,34,45,56,43,47,34],
      'expenditure (in lacs)':[1,2,2,3,1,2,3,4,2,3]}

df=pd.DataFrame(data,index=['sofa','chair','bed','cupboard','table','tv','fridge','AC','Cooler','Water cooler'])
df

                names    address  age  expenditure (in lacs)
sofa            Megha     sakchi   20                      1
chair          Aditya  adityapur   21                      2
bed           Pragati      kadma   24                      2
cupboard       poonam   bistupur   40                      3
table            riya    baridih   34                      1
tv               rita   gamharia   45                      2
fridge         soonam   bistupur   56                      3
AC                sam      kadma   43                      4
Cooler         george    sidgoda   47                      2
Water cooler    harsh     sonari   34                      3